/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
    color: #fff;
    background: #ff0000;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: rgba(134, 134, 134, 0.539);
    border-radius: 20px;
  }
  
  *{padding:0;margin:0;}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  background-image: linear-gradient(to top, #170029, #090013, rgb(0, 6, 33));
  background-attachment: fixed;
    color: white;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #38353a6a;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #5a5a5a;
}

.note-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note-input input {
    padding: 10px;
    border-style: none;
    background-color: #38353a6a;
    border-radius: 8px;
    color: white;
}

.note-input button {
    padding: 10px 15px;
    background-color: rgba(154, 149, 149, 0.671);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.note-input button:hover {
    background-color: white;
    color: black;
}

.notes {
    /*list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;*/
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.note {
    display: flex;
    flex-direction: column;
    background-color: #38353a6a;
    padding: 20px;
    border-radius: 4px;
}

.note h3 {
    margin: 0 0 5px 0;
}

.note span {
    margin-bottom: 10px;
}

.note-buttons {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.note button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.note .edit {
    background-color: #474448b6;
    padding: 0 22px;
    color: white;
}

.note .edit:hover {
    background-color: white;
    color: #000;
}

.note .delete {
    background-color: #474448b6;
    color: white;
}

.note .delete:hover {
    background-color: #d32f2f;
}

.float-note{
	position:fixed;
	width:65px;
	height:65px;
	bottom:70px;
	right:30px;
  color: white;
  background-color: #9292926a;
  border: 1px solid #8787879c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.float-note svg{
  margin-top: 12.6px;
  margin-left: 1.5px;
}

.float-note:hover{
  border: 1px solid aqua;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
    position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
  }
  
  footer span{
    color: aqua;
  }
  
  .credit{
    text-align: center;
    padding: 9px;
    background-color: #000000;
  }
